/* ==============================
   CUSTOM CONTAINER WIDTHS
============================== */

@media (min-width: 576px) {
  .container {
    max-width: 40rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 48rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 64rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 80rem;

  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1250px;
  }
}